<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta data -->
    <title>Team 70, Ukraine pet adopt</title>
    <meta charset="UTF-8">
    <meta name="author" content="arina, hristo, alfonso">
    <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
    <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links to files -->
    <link rel="stylesheet" href="style/main.css">

</head>

<body>
    <header>
        <div class="donate">
            <form method="get" action="/donate">
                <button type="submit">Donate</button>
            </form>
        </div>

        <div class="title-row">
            <img class="logo" src="assets/PNG/Logo.png">
            <h1>Brave Shelter</h1>
            <ul>
                <li>Telef:
                </li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </header>

    <nav>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <form method="get" action="/about">
            <button type="submit">About</button>
        </form>
        <form method="get" action="/animal/dogs">
            <button type="submit">Dogs</button>
        </form>
        <form method="get" action="/animal/cats">
            <button type="submit">Cats</button>
        </form>
        <form method="get" action="/animal/other">
            <button type="submit">Other</button>
        </form>
    </nav>

    <!--Search Bar-->
    <form method="get" action="/search" class="search">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit"><img src="assets/icons/search.png"></button>
    </form>

    <!--page content -->

    <div class="about">
        <p>
        <h2>About<h2>
                <span>
                    Who are we? We are a non-for profit organization devoted to the adoption of pets in Ukraine. We
                    look for pets which have been abandoned or whose owners can't afford keeping them, and then we
                    look for an adoption family.
                    We finance through donations, and we also opt for public help from different European countries.
                </span>
    </div>


    <!-- sliders -->

    <!--photos from: https://www.goodhousekeeping.com -->
    <div class="slideshow-container">
        <img src="assets/img/dog1slides.jpg" class="dogslides slide-image" alt="slider photo1">
        <img src="assets/img/dog2slides.jpg" class="dogslides slide-image" alt="slider photo2">
        <img src="assets/img/dog3slides.jpg" class="dogslides slide-image" alt="slider photo3">
        <img src="assets/img/dog4slides.jpg" class="dogslides slide-image" alt="slider photo4">
    </div>



    <!--footer-->
    <footer>
        <img class="logo" src="assets/PNG/Logo.png">
        <h1>Brave Shelter</h1>
        <p>Copyright information</p>
        <ul>
            <li> <a href="#">Disclaimer</a>
            </li>
            <li>
                <a href="#">Subscribe</a>
            </li>
            <li> <a href="#">Contact</a>
            </li>
        </ul>
    </footer>
    <!--execute code after loading objects-->
    <!--<script src="js/home.js"></script>-->

</body>

</html>