<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta data -->
    <title>Team 70, Ukraine pet adopt</title>
    <meta charset="UTF-8">
    <meta name="author" content="arina, hristo, alfonso">
    <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
    <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links to files -->
    <link rel="stylesheet" href="style/main.css">

</head>

<body>
    <header>
        <div class="donate">
            <form method="get" action="/donate">
                <button type="submit" name= "tier"value="none">Donate</button>
            </form>
        </div>

        <div class="title-row">
            <img class="logo" src="assets/PNG/Logo.png">
            <h1>Brave Shelter</h1>
            <ul>
                <li>Telef:
                </li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </header>

    <nav>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <form method="get" action="/about">
            <button type="submit">About</button>
        </form>
        <form method="get" action="/animal/dogs">
            <button type="submit">Dogs</button>
        </form>
        <form method="get" action="/animal/cats">
            <button type="submit">Cats</button>
        </form>
        <form method="get" action="/animal/other">
            <button type="submit">Other</button>
        </form>
    </nav>

    <!--Search Bar-->
    <form method="get" action="/search" class="search">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit"><img src="assets/icons/search.png"></button>
    </form>

    <!--page content -->

    <div class="about">
        <p>
                <span>
<<<<<<< HEAD
                    Who are we? <br>
                    We are a non-for profit organization devoted to the adoption of pets in Ukraine. <br>
                    We look for pets which have been abandoned or whose owners can't afford keeping them, and then we look for an adoption family.
=======
                    <h3>Who are we? </h3>
                    <p>We are a non-for profit organization devoted to the adoption of pets in Ukraine. We
                        look for pets which have been abandoned or whose owners can't afford keeping them, and then we
                        look for an adoption family.
                        We finance through donations, and we also opt for public help from different European countries.</p>

>>>>>>> 356b50ee39ac1a0a15d546ac668ab85e259b2ea0
                </span>
    </div>


   

    <!--photos from: https://www.goodhousekeeping.com -->
    <div class="slideshow-container">
        <img src="assets/img/dog1slides.jpg" class="dogslides slide-image" alt="slider photo1">
    </div>


    <div class="about">
        <p>
                <span>
                    Our mission statement is “Lets work together to care for animals, not a single pet left behind”. <br>
                    We count on the people’s willingness to give home to pets, and to adopt. <br> 
                    We have received numerous positive feedback, so we are encouraged to save as many pets as we can.
                </span>
    </div>


    <!--photos from: https://www.goodhousekeeping.com -->
    <div class="slideshow-container">
        <img src="assets/img/dog2slides.jpg" class="dogslides slide-image" alt="slider photo2">
    </div>


    <div class="about">
        <p>
                <span>
                    Can I adopt? <br>
                    Yes, certainly you can. <br>
                    We make a simple study to help you find the right pet for you, and we will see if you have the necessary to keep the pet healthy. <br>
                    Then we may propose you some options based on the availability and need of our list of pets.<br>
                    You can choose based on your preferences. We only pay attention to see that the pet will be well treated, and then we will make a follow up. 
                </span>
    </div>

    <!--photos from: https://www.goodhousekeeping.com -->
    <div class="slideshow-container">
        <img src="assets/img/dog3slides.jpg" class="dogslides slide-image" alt="slider photo3">
    </div>


    <div class="about">
        <p>
                <span>
                    Can I donate? <br>
                    Yes, you can. There are many people who love animals, but they don’t have the necessary space and time. In such cases you can donate us some money. <br>
                    This money will be invested in keeping the pets which have been abandoned until we find an adoption family.
                </span>
    </div>

    <!--photos from: https://www.goodhousekeeping.com -->
    <div class="slideshow-container">
        <img src="assets/img/dog4slides.jpg" class="dogslides slide-image" alt="slider photo4">
    </div>


    <!--footer-->
    <footer>
        <img class="logo" src="assets/PNG/Logo.png">
        <h1>Brave Shelter</h1>
        <p>Copyright information</p>
        <ul>
            <li> <a href="#">Waiver</a>
            </li>
            <li>
                <a href="#">Subscribe</a>
            </li>
            <li> <a href="#">Contact</a>
            </li>
        </ul>
    </footer>
    
    
</body>

</html>