<!DOCTYPE html>
<html lang="en">
<head>
      <!-- meta data -->
      <title>Team 70, Ukraine pet adopt</title>
      <meta charset="UTF-8">
      <meta name="author" content="arina, hristo, alfonso">
      <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
      <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Links to files -->
      <link rel="stylesheet" href="style/main.css">
     
</head>

<body>
    <div class="adopt">   
        <div class="donate">
            <a href="donation.html">Donate</a>
        </div>
        <div class="logo">
            <img src="assets/img/logo.jpg" style="width:100%">
        </div>
        <div class="title">
            
        </div>
         <!-- navigation to pages -->
        <nav class="nav-container">
            <div class="menu-container">
                

                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="dogs.html">Dogs</a>
                <a href="other.html">Other</a>
                <a href="cats.html">Cats</a>

                <ul>
                <li>Telef: 000 00 000 00 00 1112</li>
                <li>Instagram</li>
                <li>Facebook<li> 
                </ul>

     
            </div>
                   
        </nav>      
      

        <!--page content -->
        
        <div class="search bar">
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        
        
       
        
        
        <div class="dogs">
            <p><h2>Dogs<h2>
                <span>    
                    Dogs are the favourite type of pet. We have lots of them waiting for an adoption family. 
                    Please browse our database and set an interview width one of our agents. 
                </span>
        </div>
      

        <!-- sliders -->
        
        <!--photos from: https://www.goodhousekeeping.com -->
        <div class="slideshow-container">
            <img src="assets/img/dog1slides.jpg" class="dogslides slide-image" alt="slider photo1">
            <img src="assets/img/dog2slides.jpg" class="dogslides slide-image" alt="slider photo2">
            <img src="assets/img/dog3slides.jpg" class="dogslides slide-image" alt="slider photo3">
            <img src="assets/img/dog4slides.jpg" class="dogslides slide-image" alt="slider photo4">
        </div>
      
        
        
    <!--footer-->
    <footer>
        <div class="footer-container">
            <a href="#">Disclaimer</a><br>
            <a href="#">Subscribe</a><br>
            <a href="#">Contact</a><br>
            <h4>Copyright information</h4><br>
        </div>          
    </footer>
    </div>

<!--execute code after loading objects-->
<!--<script src="js/home.js"></script>-->
    
</body>    

</html> 
    