<!DOCTYPE html>
<html lang="en">
<head>
      <!-- meta data -->
      <title>Team 70, Ukraine pet adopt</title>
      <meta charset="UTF-8">
      <meta name="author" content="arina, hristo, alfonso">
      <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
      <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Links to files -->
      <link rel="stylesheet" href="style/main.css">
     
</head>

<body>
    <div class="content">   
        <div class="donate">
            <a href="donation.html">Donate</a>
        </div>
        <div class="logo">
            <img src="assets/img/logo.jpg" style="width:10%">
        </div>
        <div class="title">
            
        </div>
         <!-- navigation to pages -->
        <nav class="nav-container">
            <div class="menu-container">
                

                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="dogs.html">Dogs</a>
                <a href="other.html">Other</a>
                <a href="cats.html">Cats</a>

                <ul>
                <li>Telef: 000 00 000 00 00 1112</li>
                <li>Instagram</li>
                <li>Facebook<li> 
                </ul>

     
            </div>
                   
        </nav>      
      

        <!--page content -->
        
        <div class="search bar">
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        
        
       
        
        
        <div class="donate">
            <p><h2>Donate<h2>
                <table>
                    <tr>
                        <td>Donation 1</td>
                        <td>You contribute with 2 euros per month</td>
                        <td>2 eur</td>
                    </tr>                
                        



        </div>
      

         <!-- sliders -->
        
  
        
        
    <!--footer-->
    <footer>
        <div class="footer-container">
            <a href="#">Disclaimer</a><br>
            <a href="#">Subscribe</a><br>
            <a href="#">Contact</a><br>
            <h4>Copyright information</h4><br>
        </div>          
    </footer>
    </div>

<!--execute code after loading objects-->
<!--<script src="js/home.js"></script>-->
    
</body>    

</html> 
    