<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta data -->
    <title>Team 70, Ukraine pet adopt</title>
    <meta charset="UTF-8">
    <meta name="author" content="arina, hristo, alfonso">
    <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
    <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links to files -->
    <link rel="stylesheet" href="style/main.css">

</head>

<body>
    <header>
        <div class="donate">
            <form method="get" action="/donate">
                <button type="submit" name="tier" value="none">Donate</button>
            </form>
        </div>

        <div class="title-row">
            <img class="logo" src="assets/PNG/Logo.png">
            <h1>Brave Shelter</h1>
            <ul>
                <li>Telef:
                </li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </header>

    <nav>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <form method="get" action="/about">
            <button type="submit">About</button>
        </form>
        <form method="get" action="/animal/dogs">
            <button type="submit">Dogs</button>
        </form>
        <form method="get" action="/animal/cats">
            <button type="submit">Cats</button>
        </form>
        <form method="get" action="/animal/other">
            <button type="submit">Other</button>
        </form>
    </nav>

    <!--Search Bar-->
    <form method="get" action="/search" class="search">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit"><img src="assets/icons/search.png"></button>
    </form>
    <!--page content -->
    <div class="donate-headline">
        <h3>Donation Tiers</h3>
    </div>
    <%if(tier !="none" ){ %>
        <h3 class="donate-notification">
            Your <%=tier%> donation was successful! Thank you!
        </h3>
        <% } %>
            <table class="donate-table">
                <thead>
                    <tr>
                        <th>Tier</th>
                        <th>Benefits</th>
                        <th>Price</th>
                        <th>Donate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tint">Tier 1</td>
                        <td>You get a thank you email.</td>
                        <td class="tint">€5</td>
                        <td id="donate-button">
                            <form method="post" action="/donate"><button type="submit" name="tier" value="Tier 1">Donate</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td class="tint">Tier 2</td>
                        <td>Handwritten Thank you letter.</td>
                        <td class="tint">€10</td>
                        <td id="donate-button">
                            <form method="post" action="/donate"><button type="submit"name="tier" value="Tier 2">Donate</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td class="tint-last-tier">Tier 3</td>
                        <td>Previous bonuses + puppy plushie.</td>
                        <td class="tint">€20</td>
                        <td id="donate-button">
                            <form method="post" action="/donate"><button type="submit"name="tier" value="Tier 3">Donate</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td class="tint-last-tier">Tier 4</td>
                        <td>Previous bonuses + T-Shirt.</td>
                        <td class="tint">€50</td>
                        <td id="donate-button">
                            <form method="post" action="/donate"><button type="submit"name="tier" value="Tier 4">Donate</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td class="tint-last-tier">Tier 5</td>
                        <td>Previous bonuses + Hoodie.</td>
                        <td class="tint">€100</td>
                        <td id="donate-button">
                            <form method="post" action="/donate"><button type="submit"name="tier" value="Tier 5">Donate</button></form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--footer-->
            <footer>
                <img class="logo" src="assets/PNG/Logo.png">
                <h1>Brave Shelter</h1>
                <p>Copyright information</p>
                <ul>
                    <li> <a href="#">Waiver</a>
                    </li>
                    <li>
                        <a href="#">Subscribe</a>
                    </li>
                    <li> <a href="#">Contact</a>
                    </li>
                </ul>
            </footer>



</body>

</html>