<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta data -->
    <title>Team 70, Ukraine pet adopt</title>
    <meta charset="UTF-8">
    <meta name="author" content="arina, hristo, alfonso">
    <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
    <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Links to files -->
    <link rel="stylesheet" href="../style/main.css">

</head>

<body>
    <header>
        <div class="donate">
            <form method="get" action="/donate">
                <button type="submit" name="tier" value="none">Donate</button>
            </form>
        </div>

        <div class="title-row">
            <img class="logo" src="assets/PNG/Logo.png">
            <h1>Brave Shelter</h1>
            <ul>
                <li>Telef:
                </li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </header>

    <nav>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <form method="get" action="/about">
            <button type="submit">About</button>
        </form>
        <form method="get" action="/animal/dogs">
            <button type="submit">Dogs</button>
        </form>
        <form method="get" action="/animal/cats">
            <button type="submit">Cats</button>
        </form>
        <form method="get" action="/animal/other">
            <button type="submit">Other</button>
        </form>
    </nav>
    <!--Search Bar-->
    <form method="get" action="/search" class="search">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit"><img src="../assets/icons/search.png"></button>
    </form>
    <!--page content -->
    <div class="search-preferences">
        <form method="get" action="/search">
            <div>
                <label>Pet selection:</label>
                <select name="pet-type" id="pet-type" size="4">
                    <option value="all">All</option>
                    <option value="dogs">Dogs</option>
                    <option value="cats">Cats</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                    <label>Sort by:</label>
                    <select name="sort-by" id="sort-by" multiple>
                        <!-- sort by birth asc/desc-->
                        <option value="age-asc">Age ascending</option>
                        <option value="age-des">Age descending</option>
                        <!-- sort by id-->
                        <option value="id-last">Most Recent</option>
                        <option value="id-first">Oldest Admitted</option>
                    </select>
            </div>
            <div>
                <button type = "submit"> Apply Changes</button>
            </div>
        </form>
    </div>
    <div>
       
    </div>



    <!--footer-->
    <footer>
        <img class="logo" src="../assets/PNG/Logo.png">
        <h1>Brave Shelter</h1>
        <p>Copyright information</p>
        <ul>
            <li> <a href="#">Disclaimer</a>
            </li>
            <li>
                <a href="#">Subscribe</a>
            </li>
            <li> <a href="#">Contact</a>
            </li>
        </ul>
    </footer>
    </div>




</body>

</html>