<!DOCTYPE html>
<html lang="en">
<head>
      <!-- meta data -->
      <title>Team 70, Ukraine pet adopt</title>
      <meta charset="UTF-8">
      <meta name="author" content="arina, hristo, alfonso">
      <meta name="content" content="ukraine pet adopt, about, dogs, other cats">
      <meta name="keywords" content="ukraine pet adoption, pet adoption, family for dogs">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Links to files -->
      <link rel="stylesheet" href="../style/main.css">
     
</head>

<body>
    <div class="content">   
        <div class="donate">
            <form method = "get" action = "/donate">
                <button type="submit">Donate</button>
            </form>
        </div>
        <div class="logo">
            <img src="../assets/PNG/Logo.png" style="width:10%">
        </div>
        <div class="title">
            
        </div>
         <!-- navigation to pages -->
        <nav class="nav-container">
            <div class="menu-container">
                

                <form method = "get" action = "/">
                    <button type="submit">Home</button>
                </form>
                <form method = "get" action = "/about">
                    <button type="submit">About</button>
                </form>
                <form method = "get" action = "/animal/dogs">
                    <button type="submit">Dogs</button>
                </form>
                <form method = "get" action = "/animal/cats">
                    <button type="submit">Cats</button>
                </form>
                <form method = "get" action = "/animal/other">
                    <button type="submit">Other</button>
                </form>
                <ul>
                <li>Telef: 000 00 000 00 00 1112</li>
                <li>Instagram</li>
                <li>Facebook<li> 
                </ul>

     
            </div>
                   
        </nav>      
      

        <!--page content -->
        
        <div class="search bar">
            <input type="text" placeholder="Search..">
            <button type="submit">Submit</button>
        </div>
        
        <button class="button button1">Pets</button>
        <button class="button button2">News</button>
        
        <div class="petType">
            <form action="   ">
                <label for="pets">Pet selection:</label>
                <select name="pet-type" id="pet-type" size="3">
                    <option value="Dogs">Dogs</option>
                    <option value="Cats">Cats</option>
                    <option value="Other">Other</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
          
        <div class="sortBy">
            <form action="   ">
                <label for="SortBy">Sort by:</label>
                <select name="sort-by" id="sort-by" multiple>
                    <option value="age-asc">Age ascending</option>
                    <option value="age-des">Age descending</option>
                    <option value="publication-recent">Publication date most recent</option>
                    <option value="publication-older">Publication date oldest</option>
                    <option value="weight-asc">Weight ascending</option>
                    <option value="weight-des">Weight descending</option>
                    <option value="care-plus">Most care need</option>
                    <option value="care-less">Healthy state</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>     
        
        
        
    <!--footer-->
    <footer>
        <div class="footer-container">
            <a href="#">Disclaimer</a><br>
            <a href="#">Subscribe</a><br>
            <a href="#">Contact</a><br>
            <h4>Copyright information</h4><br>
        </div>          
    </footer>
    </div>

<!--execute code after loading objects-->
<!--<script src="js/home.js"></script>-->
    
</body>    

</html> 
    