<!DOCTYPE html>`
<html>

<head>
    <title>template page</title>
</head>

<body>
    <!--Title Section-->
    <div>
        <p>Insert title here</p>
    </div>
    <!--Navigation Section-->
    <nav>
        <ul>
            <li>
                Home
            </li>
            <li>
                About
            </li>
            <li>
                Dogs
            </li>
            <li>
                Cats
            </li>
            <li>
                Other
            </li>
        </ul>
    </nav>
    <!--Articles-->
    <div>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</body>

</html>